.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: var(--color-gray);
    padding: 24px;
    border-radius: 12px;
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.popup-content p {
    color: var(--color-text-white);
    font-size: 16px;
    margin-top: auto;
    margin-bottom: 20px;
    text-align: center;
    text-wrap: balance;
    font-family: 'Inter', sans-serif;
    margin-top: 275px;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.confirm-button {
    background-color: var(--color-primary);
    color: var(--color-background);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.confirm-button:hover {
    background-color: var(--color-orange);
    transform: translateY(-1px);
}

.cancel-button {
    background-color: transparent;
    color: var(--color-text-white);
    border: 1px solid var(--color-border);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.cancel-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
} 